
 /*1st section start*/
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
 body{
 
     font-family: "Poppins", sans-serif;
     font-weight: 400;
  }
 

.title{
    
  width: 50%;
    padding-left: 50px;
    padding-bottom: 50px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 70px;
    margin-left: 9rem;
    color: white;
  
}
h1{
  font-weight: 700px;
  font-size: 50px;
}
.live-button  {
  background-color:magenta;
  padding: 10px 40px;
  text-align: center;
  font-weight: 700;
  margin-bottom:80px;
  border: none;
  color:whitesmoke;
  
 
}
.live-button:hover{
  background-color: black;
}
.banner{
  width: 50%;
  padding-left: 10%;
  margin-right: 70rem;
}
.banner img {
 width: 556px;
 height: 438px;
 margin-left: 4rem;
 margin-top: 90px;
animation: sliding 1s linear 0.5s 6 alternate;

position: relative;

  

}
@keyframes sliding{

  0%{
   
    left: 0;
    top: 0;
    transform:scale(0.5);
  }
  100%{
   
    left: 100px;
    top:0px;
  }
}
.first-section{
  display: flex;

  background-color: mediumblue;

}
 /*2nd section start*/
 .container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-column-gap: 4rem;
   grid-row-gap: 4rem;
  
   padding: 10rem;
   justify-content: center;
    margin-left: 5% ;
    margin-right:5% ;
    
   


 }
 .player{
  box-shadow: 10px 10px 40px black;
  padding:1rem;
 }
 .player img{
width: 300px;
height: 256px; 
  justify-content: space-between;
 
  
 }
 
  
 



 /*footer section start*/
 footer{
   display: flex;
   justify-content: center;

 }
 .last-part{
   width: 400px;
   display: flex;
   align-items: center;
   flex-direction: column;
 }

 footer img{
   width: 438px;
   height: 110px;
   justify-content: center;
   margin-left: 50px;
   margin-right: 50px;
   
 }
 
 .fab-logo{
   color: tomato;

 }
 /*mobile device*/
 @media only screen and (max-width:688px) {
   .title{
     font-size: 36px;
     margin-left: 1rem;
  
   }
   .first-section{
     flex-direction: column;
     align-items: center;
   }
   .banner img{
     margin-left: 24rem;
     width: 500px;
     height:auto ;
   
   }
   .container{
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
   }
 }
   
 

   

 

 
 
  
  
 


 



